.page {
  margin: 0;
  padding: 2.5rem;
  min-height: 100vh;
  min-width: 320px;

  background-color: #f9fafb;
  /*display: flex;
  flex-direction: column;*/
}

.mainContainer {
  height: 100%;
  width: 100%;

  padding-bottom: 20px;
}

.formAssignmentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 10px;
}

.formContainer {
  /* width: 650px;*/
  margin-inline: auto;
  background-color: #fff;
  border-radius: 10px;
}

.welcome {
  font-size: 18px;
  font-weight: 600;
}

.btnDiv {
  /*width: 650px;*/
  margin: 20px auto 20px auto;
  display: flex;
  justify-content: space-between;
}

.btnDiv button {
  border: 2px solid #003064;
  border-radius: 8px;

  padding: 4px 8px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btnDiv button:hover {
  background-color: #ebefff;
}

.assignmentsSection {
  width: 650px;
  margin-inline: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.formContainer,
.btnDiv,
.assignmentsSection {
  width: 100%;
  max-width: 650px;
  margin-inline: auto;
}

@media (max-width: 600px) {
  .formContainer,
  .btnDiv,
  .assignmentsSection {
    padding: 0 1rem;
  }

  .welcome {
    font-size: 16px;
  }
}
