.page {
  margin: 0;
  padding: 2.5rem;
  min-height: 100vh;
  min-width: 320px;

  background-color: #f9fafb;
  /*display: flex;
  flex-direction: column;*/
}

.mainContainer {
  height: 100%;
  width: 100%;

  padding-bottom: 20px;
}

.formAssignmentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formContainer {
  /*display: flex;*/
  width: 650px;
  margin-inline: auto;
  background-color: #fff;
  border-radius: 10px;
}

.assignmentsSection {
  width: 650px;
  margin-inline: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.button {
  margin-top: 10px;
  background-color: blanchedalmond;
}
