.mainContainer {
  display: flex;
  background-color: #f9fafb;
  min-height: 100vh;
  margin-bottom: 20px;
}

.formContainer {
  display: flex;
  width: 650px;
  background-color: #fff;
}

.formAssignmentContainer {
  margin: 0 auto;
  padding-top: 50px;
}

.button {
  margin-top: 10px;
  background-color: blanchedalmond;
}
