.page {
  background-color: #f9fafb;
  padding: 2.5rem 5rem;
}

.formField {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.formField label {
  margin-bottom: 5px;
}

form {
  padding-inline: 30px;
  padding-block: 30px;
  width: 70%;
}

.mainContainer {
  display: flex;
  justify-content: center;
}

.formContainer {
  max-width: 450px;
  width: 90%;
  margin-top: 40px;
  background-color: #fff;

  border-radius: 10px;
  border: solid 1px #213547;
}

form h2 {
  padding: 0;
  margin: 0;
  color: #213547;
}

select {
  height: 30px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input {
  height: 30px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .page {
    padding: 1rem 1.5rem;
  }

  form {
    padding-inline: 20px;
    padding-block: 20px;
    width: 90%;
  }
}
