.page {
  margin: 0;

  padding: 0;
  min-height: 100vh;
  min-width: 320px;

  background-color: #f9fafb;
}

.mainContainer {
  height: 100%;
  width: 100%;
  padding: 2.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.tableBtnDiv {
  width: 100%;
}

.tableContainer {
  width: 100%;
  margin: auto;
  display: flex;

  justify-content: center;
  align-items: center;
}

.tableContainer table {
  width: 50%;
  text-align: left;
  padding-inline: 5px;

  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;

  overflow: hidden;
  font-size: 0.9rem;

  background-color: #fff;
}

.tableContainer table td {
  padding-inline: 10px;
  padding-block: 5px;
}

.btnDiv {
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 600px) {
  .mainContainer {
    padding: 1.2rem;
  }

  .tableContainer table {
    width: 90%;
  }
}
