.formField {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.formField label {
  margin-bottom: 5px;
}

form {
  padding-inline: 30px;
  padding-block: 30px;
  width: 60%;
}

form h2 {
  padding: 0;
  margin: 0;
}

select {
  height: 30px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input {
  height: 30px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.typePrixSection {
  display: flex;
  gap: 60px;
}

.btndiv {
  margin-top: 20px;
}

.close {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  form {
    padding-inline: 15px;
    padding-block: 15px;
    width: 80%;
  }
}
