td,
th {
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-block: 5px;
}

.editBtn {
  color: #003064;
  font-size: 0.8em;
}

.checkBtn {
  color: #47be4d;
  font-size: 0.8em;
}

.deleteBtn {
  color: #ff5768;
  font-size: 0.8em;
}

.apart {
  cursor: pointer;
}
