td,
th {
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-block: 5px;
}

.editBtn {
  color: #003064;
  font-size: 0.8em;
}

.checkBtn {
  color: #47be4d;
  font-size: 0.8em;
}

.deleteBtn {
  color: #ff5768;
  font-size: 0.8em;
}

.apart {
  cursor: pointer;
  max-width: 60px;
}

.comment {
  max-width: 150px;
  white-space: pre-wrap; /* keeps line breaks and wraps long text */
  word-wrap: break-word; /* breaks long words if necessary */
  overflow-wrap: break-word;
}

.mission td {
  vertical-align: top;
}
