.pageHeader {
  margin: 0;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  /*padding-inline: 40px;
  padding-top: 40px;*/

  z-index: 2;

  box-sizing: border-box;
}

.dark {
  background-color: #003064;
  color: white;
}

.logo {
  display: inline-block;
  margin: 0;

  font-weight: bold;
  cursor: pointer;
}

.btndiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 10px;
}

@media (max-width: 600px) {
  .pageHeader {
    padding: 10px 20px;
  }
}
