#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.mainContainer {
  display: flex;
  background-color: #f9fafb;
  min-height: 100vh;
  padding-bottom: 20px;
}

.assignmentsSection {
  margin-top: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
